<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- imported css file -->
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="root"></div>

    <!-- removed CDN links since we have installed our own npm packages 
         CDN links no longer needed in our app -->

    <!-- included type="module" as react treats it as a normal script tag
         we have to tell react that this is not a normal script it's react 
        file (App.js) -->
        
    <script type="module" src="./App.js"></script>
  </body>
</html>
